*{
    background-color:bisque;
}


h1 ,h2{
    border: 10px dashed gold;
    background-color: blueviolet;
    width: 50%;
    text-align: center;
    margin-left: 20rem;
    border-radius: 20%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
